.frame{
    display:none;
    padding:10px;
    margin:10px;
}
.right{
    flex:none;/*固定大小*/
    width:200px;
}
.left{
    justify-content:flex-end;/*水平對齊*/
    flex:auto;/*自動把剩下的空間填滿*/
}
.item{
    flex:none;
    width:100px;
    margin-right:10px;
    text-align:center;
}