*{
    padding:0;
    margin:0
}


/*統一設定內文的字體*/
.html, body {
font-size: 16px;
font-family: "Helvetica Neue", "PingFang TC", "Heiti TC", 微軟正黑體, sans-serif;
line-height: 1.75;
}
/*統一設定標題字重字體行距*/
.h1, h2, h3, h4, h5, h6 {
font-weight: 600;
font-family: "Helvetica Neue", "PingFang TC", "Heiti TC", "Adobe 繁黑體 Std", "AdobeFanHeitiStd-Bold", "微軟正黑體", sans-serif;
line-height: 1.5;
}

a {
    color: white;
}
.article-content {
    line-height: 1.75;
    font-size: 18px;
    text-align: justify;
    background-color: black;
    color:white;

    h1, h2, h3, h4, h5, h6 {
        margin-top: 1em;
        margin-bottom: .6em;
    }
}
   /*重新定義標題邊界及字體大小*/
    
    h1 {
        font-size: 2.5rem;
    }
    h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.7rem;
    }
    h4 {
        font-size: 1.5rem;
    }
    h5 {
        font-size: 1.2rem;
    }
    h6 {
        font-size: 1rem;
    }
    p {
        margin-top: 1em;
        margin-bottom: 1em;
}
.position_absolute{
    font-size: medium;
    padding: 20px 0 20px 20px;
}
/* 電腦*/
@media (min-width: 768px) {
    .frame {
      width: 60%;
      margin: 0 auto;
    }
    .position_absolute {
        position:fixed;
        width:350px;
        height:175px;
        left:10px;
        top:25%;
        bottom:125px;
    }
  }
  
  /* 手機 */
  @media (max-width: 767px) {
    .frame {
      width: 90%;
      margin: 0 auto;
    }
  }
  

.title{
    color: black;
    background-color:#75FBFD;
    text-align:center;
    border-radius: 5px;
}
